body {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background: #17a2b8;
    
}

.img {
    width: 10%;
    height: 15%;
    float: left;
    clear: both;
}

.m {
    color: aliceblue;
    text-align: center;

}
