* {
    padding: 0%;
    margin: 0%;
}

.horarios {
    background: rgb(45, 45, 255);
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
}

.horarios li {
    display: inline;
    padding-left: 5%;
}

#carouselExampleControls, .carrossel {
    width: 50% !important;
}

.carroussels {
    display: flex;
}

.linha1, .linha2 {
    display: flex;
    justify-content: center;
}

/* conteiners largos */

.information, .calendario {
    margin-right: 50px;
    margin-top: 50px;
    width: 50%;
    height: 20%;
    background: rgb(180, 178, 178);
}

.coluna1 {
    margin-top: 50px;
    width: 35%;
    height: 50%;
    background: rgb(180, 178, 178);
}

/* imagem da galeria */

.galery {
    width: 100%;
    height: 100%;
}


.feeds {
    background: rgb(48, 46, 46);
}

.cabecalho, li {
    display: inline;
    background: rgb(45, 45, 255);
    color: white;
    width: 100%;
    margin-top: 40px;
    padding-right: 5%;
    text-decoration: none;
    list-style: none;
}


.links {
    background: blue;
    list-style: none;
    text-decoration: none;
    color: white;
    padding-right: 5%;
    display: inline;
    margin-bottom: 0;
}


/* a {
    text-decoration: none;
} */


h4, h5 {
    padding-left: 5%;
    font-family: Verdana, sans-serif;

}

p {
    background: rgb(45, 45, 255);
    color: aliceblue;
    text-align: center;
}

.rodape h6 {
    background: rgb(48, 46, 46);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 0;
}